<!DOCTYPE html>
<html>
<head>
<title>Story6_GracielaChikaPutri</title>
</head>
<body style="background-color:AliceBlue;">
<h1 class="main-title">Hello, Apa kabar?</h1>
<hr/>

<div class="container">
    <a href="profil.html">
        <button>Profil</button>
    </a>
    <form id="form" method="POST" action="{% url 'myapp:tambahstatus' %}">
        <h2>Masukkan status</h2>
        {% csrf_token %}
        {{ stats }}
        <input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
        <br>
    </form>
</div>


<div style="margin: 5% 5%">
    <h2>My Status</h2>
    <div style = "width: 80%">
        <table class="table" border="#0000" style="width: 100%">
            <tr background-color="#ffff">
            <th style="width: 40%">Status</th>
            <th style="width: 60%">Tanggal</th>
           </tr>
           {%for e in status%}
           <tr background-color=#ffff>
            <td>{{e.deskripsi}}</td>
            <td>{{e.tanggal}}</td>
           </tr>
           {%endfor%}
        </table>
    </div>
</div>

</body>

</html>